//***vdoing主题-样式变量（你可以修改这些变量值以覆盖主题使用的样式变量）***//

// 以下注释的变量仅供参考，主题使用的最新变量请查看：https://github.com/xugaoyi/vuepress-theme-vdoing/blob/master/theme-vdoing/styles/palette.styl

// // 颜色

// $bannerTextColor = #fff // 首页banner区(博客标题)文本颜色
// $accentColor = #11A8CD // 主题色
// $activeColor = #ff5722
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 18rem
// $contentWidth = 860px
// $homePageWidth = 1100px
// $rightMenuWidth = 230px // 右侧菜单

// // 代码块
// $lineNumbersWrapperWidth = 2.5rem

// // 浅色模式
// .theme-mode-light
//   --bodyBg: #f4f4f4
//   --mainBg: rgba(255,255,255,1)
//   --sidebarBg: rgba(255,255,255,.8)
//   --blurBg: rgba(255,255,255,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   // 代码块浅色主题
//   --codeBg: #f6f6f6
//   --codeColor: #525252
//   codeThemeLight()
//   // // 代码块深色主题
//   // --codeBg: #252526
//   // --codeColor: #fff
//   // codeThemeDark()

// // 深色模式
// .theme-mode-dark
//   --bodyBg: rgb(39,39,43)
//   --mainBg: rgba(30,30,34,1)
//   --sidebarBg: rgba(30,30,34,.8)
//   --blurBg: rgba(30,30,34,.8)
//   --textColor: rgb(140,140,150)
//   --textLightenColor: #0085AD
//   --borderColor: #2C2C3A
//   --codeBg: #252526
//   --codeColor: #fff
//   codeThemeDark()

// // 阅读模式
// .theme-mode-read
//   --bodyBg: rgb(240,240,208)
//   --mainBg: rgba(245,245,213,1)
//   --sidebarBg: rgba(245,245,213,.8)
//   --blurBg: rgba(245,245,213,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   --codeBg: #282c34
//   --codeColor: #fff
//   codeThemeDark()

/* 引入Google字体 */
@import url('https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaigbscreen.css');
 
/* 应用自定义字体到特定元素 */
* {
  font-family: "LXGW WenKai Screen", sans-serif;
}
::-webkit-scrollbar-thumb {
  background-color: #49b1f5!important;
  background-image: -webkit-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.4) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0.4) 75%,
    transparent 0,
    transparent
  );
  border-radius: 2em;
}
::-webkit-scrollbar {
  display: block;
  width: 8px ;
  height: 30% !important;
}
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2) !important;
  border-radius: 2em  !important; 
}

blockquote {
  border-color: #6f9fc7;
  border-radius: 0.25em;
  background-color: #ecf1f5;
  margin: 1em 0;
  line-height: 1.8;
  background: #d7eaf5f7;
  padding: 1em;
  border-left: 5px #3498db solid;
}
strong{
  font-size: larger;
  text-decoration-line: underline
}

.theme-vdoing-content:not(.custom) > h1, 
.theme-vdoing-content:not(.custom) > h2, 
.theme-vdoing-content:not(.custom) > h3,
.theme-vdoing-content:not(.custom) > h4,
.theme-vdoing-content:not(.custom) > h5,
.theme-vdoing-content:not(.custom) > h6 {
    margin-top: -4.2rem;
    margin-bottom: 2.1rem;
}
.right-menu-item.level2 >a
  font-weight: bolder
.sidebar-sub-header.level2 >a
  font-weight: bolder
.sidebar .sidebar-sub-headers .level4 {
    padding-left: 1.2rem;
}
.sidebar .sidebar-sub-headers .level5 {
    padding-left: 2.4rem;
}
// // ——————————————————————————————————— 标题等级提示 ———————————————————————————————————
// // H1 → H6 标题等级提示符号
// @font-face 
//     font-family  "remixicon";
//     src          local("./font/remixicon.woff2") format("truetype");
//     font-display swap;

// h1,h2,h3,h4,h5,h6
//   position relative
//   >a
//     display none
// // h1,h2,h3,h4,h5,h6>a    

// h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
//   font-family "remixicon";
//   font-size 12px !important;
//   display inline-block;
//   color #999 !important;
//   position absolute;
//   right calc(100% + 10px);
//   bottom 0;
//   border none;
//   padding 0;
//   letter-spacing 1px;
//   top 50%;
//   transform translate(0, 60%);
//   line-height 1;

// h2::before 
//   content "H2";
// h3::before 
//   content "H3";
// h4::before 
//   content "H4";
// h5::before 
//   content "H5";
// h6::before 
//   content "H6";

.hide-navbar .navbar{
  transform: none !important
  transition: none !important;  
}